---
import ImageMod from "@/components/ImageMod.astro";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import CallToAction from "@/partials/CallToAction.astro";
import Testimonial from "@/partials/Testimonial.astro";
import type { Button, Feature } from "@/types";
import { getEntry } from "astro:content";
import { FaCheck } from "react-icons/fa";

interface Homepage {
  banner: {
    title: string;
    content: string;
    image: string;
    button1: Button;
    button2: Button;
  };
  features: Feature[];
}

const homepage = await getEntry("homepage", "-index");
const testimonial = await getEntry("sections", "testimonial");
const call_to_action = await getEntry("sections", "call-to-action");
const { banner, features }: Homepage = homepage.data;
---

<Base>
  <!-- Banner -->
  <section class="section pt-14">
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-7 md:col-9 mb-8 text-center">
          <h1
            set:html={markdownify(banner.title)}
            class="mb-4 text-h3 lg:text-h1"
          />
          <p set:html={markdownify(banner.content)} class="mb-8" />
          {
            banner.button1.enable && (
              <a
                class="btn btn-primary"
                href={banner.button1.link}
                target={
                  banner.button1.link.startsWith("http") ? "_blank" : "_self"
                }
                rel="noopener"
              >
                {banner.button1.label}
              </a>
            )
          }
          {
            banner.button2.enable && (
              <a
                class="btn border border-black"
                href={banner.button2.link}
                target={
                  banner.button2.link.startsWith("http") ? "_blank" : "_self"
                }
                rel="noopener"
              >
                {banner.button2.label}
              </a>
            )
          }
        </div>
        {
          banner.image && (
            <div class="col-12 ">
              <ImageMod
                class="rounded-xl"
                src={banner.image}
                height={380}
                width={1200}
                alt="banner"
                format="webp"
              />
            </div>
          )
        }
      </div>
    </div>
  </section>
  <!-- /Banner -->

  <!-- Features -->
  <section class="section-sm bg-gradient">
    <div class="container">
      <div class="row items-center justify-between">
        <div class="md:col-12">
          <h1 class="text-center mb-6">Featured Hotels</h1>
          <div class="flex flex-wrap gap-4">
            <div class="w-full mb-4">
              <div
                style="position: relative; width: 100%; padding-bottom: 56.25%; overflow: hidden;"
              >
                <ImageMod
                  src={features[0].image}
                  alt={features[0].title}
                  width={1200}
                  height={675}
                  class="rounded-xl"
                  style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;"
                />
              </div>
              <div class="mt-4">
                <h2 set:html={markdownify(features[0].title)} class="mb-2" />
                <p
                  set:html={markdownify(features[0].content)}
                  class="text-lg"
                />
              </div>
            </div>
            <div class="w-full md:w-[calc(50%-0.5rem)] mb-4">
              <div
                style="position: relative; width: 100%; padding-bottom: 56.25%; overflow: hidden;"
              >
                <ImageMod
                  src={features[1].image}
                  alt={features[1].title}
                  width={600}
                  height={338}
                  class="rounded-xl"
                  style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;"
                />
              </div>
              <div class="mt-4">
                <h2 set:html={markdownify(features[1].title)} class="mb-2" />
                <p
                  set:html={markdownify(features[1].content)}
                  class="text-lg"
                />
              </div>
            </div>
            <div class="w-full md:w-[calc(50%-0.5rem)] mb-4">
              <div
                style="position: relative; width: 100%; padding-bottom: 56.25%; overflow: hidden;"
              >
                <ImageMod
                  src={features[2].image}
                  alt={features[2].title}
                  width={600}
                  height={338}
                  class="rounded-xl"
                  style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;"
                />
              </div>
              <div class="mt-4">
                <h2 set:html={markdownify(features[2].title)} class="mb-2" />
                <p
                  set:html={markdownify(features[2].content)}
                  class="text-lg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Features -->
  <Testimonial testimonial={testimonial} />
  <CallToAction call_to_action={call_to_action} />
</Base>
